<div class="ask">
<h1>Stupid coaching</h1>


<form action="/answer" method="get">
  <input id="type" type="text" name="question" placeholder="Write a question..">
  <input id="button" type="submit" value="Ask">
</form>
</div>
